#leftSelector {
    position: fixed;
    top: 100px;
    left: 850px;
}
#rightSelector {
    position: fixed;
    top: 100px;
    left: 1050px;
}


#controlBoard {
    position: fixed;
    /*top: -400px;*/

}

#triangleSelector {
    position: fixed;
    top: 180px;
    left: 950px;
}

#rectangleSelector {
    position: fixed;
    top: 210px;
    left: 950px;
}

#rowSelector {
    position: fixed;
    top: 240px;
    left: 950px;
}

#singleSelector {
    position: fixed;
    top: 270px;
    left: 950px;
}

#startButton {
    position: fixed;
    top: 390px;
    left: 950px;

    background-color: lawngreen;
}

#clearButton {
    position: fixed;
    top: 350px;
    left:950px;
}
